{% extends 'base.html.twig' %}

{% block title %}Hello account!{% endblock %}

{% block body %}

    {% if app.user %}
        <a href="{{ path('app_account') }}">Mon compte <small>({{ app.user.firstname }})</small></a> |
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#{# { path('admin') } #}">Espace Admin</a> |
        {% endif %}
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}

    <main class="container my-auto">
        <h2>Hello {{ app.user.firstname }} {{ app.user.lastname }}</h2>
        <ul class="nav navbar">
            <li class="nav-link"><a href="{{ path('app_booking_calendar') }}">Calendrier</a>
            <ul class="drop-down">
                <li><a href="{{ path('app_booking') }}">Liste</a></li>
                <li><a href="{{ path('app_booking_new') }}">Ajouter</a></li>
            </ul>

            </li>
            <li class="nav-link"><a href="{{ path('app_change_password') }}">Modifier mon mot de passe</a></li>
        </ul>
        <a href=""></a> |
        <a href=""></a>
    </main>

{% endblock %}
